*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color: rgb(214, 203, 203) ;
width:100%;
position: fixed;
z-index:999;
display:flex;
justify-content: space-between;
padding: 10px 20px;
font-weight:600;

.content {
    direction: rtl;
    margin-bottom: 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

}
.logo{
    font-size:3.3em;
    text-align: right;
    color:rgb(44, 81, 160);
    padding-right:20px;
}

.navigation a{
font-size:2.4em ;
padding:60px 55px;
color:rgb(44, 81, 160);
text-align: left;
}
.navigation a:hover{
    font-size:2.5em;
    color:blue
}
.main {
   width:100%;
    min-height: 150vh;
    display:flex;
    align-items: center;
    background: url(images/46731bd1577c7eaaa2a86c2c89ce2aa1\ \(6\).jpg)
    no-repeat;
    background-size:cover ;
    background-position:center ;
    background-attachment:fixed ;
}
.main h2{
    color :rgb(0, 0, 0);
    font-size:1.6em;
}
.main h2 span{
    color:rgb(253, 219, 177);
    font-size:2.6em;
    font-weight:800;
} 
.main h3{
    font-size:1.6em;
}
.S1{

    font-size: 3em;
    font-weight:700;
    transition: 0.8s ease;
    direction: rtl;
    text-align: center;
    margin-bottom: 100px;
}
.S1:hover{
    color: #14c6c0;
    transform: scale(1.1);
}
.began{
    font-size: 3em;
    font-weight: 1000;
    color:blanchedalmond;
}
.head{
    font-size: 1.8em;
    color:cadetblue;
    text-align: left;
    margin-left: 80px;
}
.mainm{
    font-size: 3em;
    
}
.word{
    font-size: 2em;
}
#close{
    text-decoration: none;
    background-color:blue;
    padding:0.9479em 2.1875em;
    display:inline-block;
    margin-bottom:40px;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight:700;
    transition: 0.8s ease;
    text-align: right;
}
.t1{
    margin: 20px;
    color: rgb(43, 147, 226);
}
#im{
    margin: 10px;
    height: 150px;
    width: 200px;
    border: 1px solid #ccc;
    display: block;
}
.audio{
    text-align: left;
    text-align: right;
    color: black;
    margin-right: 1190px;
    margin-left:20px ;
    margin-top: 80px;
} 
.t2{
        color: blanchedalmond;
}
.fa-brands-fa-facebook{
color: black;
}